body {
    background-image: url(/Wallpaper/plano-de-fundo-preto28.webp);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    text-shadow: 3px 3px 2px #8B0000;
}
.container {
    text-align: center;
    padding: 20px;
}
p {
    text-align: center;
}
#listaFilmes img {
    margin: 10px;
    max-height: 250px;
}
.form-wrapper {
    margin: 0 0 15px;
}
.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }